<div class="container-fluid">
  <div class="row gap-3 p-1">
    <div class="col-md-4 bg-info rounded p-3">
      <form>
        <div class="row">
          <label class="col-md-3">ID Type </label>
          <input type="number" class="col-md-3 rounded">
          <input type="number" class="col offset-md-1 rounded">
        </div>
        <div class="row mt-1">
          <label class="col-md-4">Sender Name</label>
          <input type="number" class="col-md-8 rounded">
        </div>
        <div class="row gap-1 mt-1">
          <label class="col-md-3">Mobile1</label>
          <input type="button" value="966" class="col-md-1 rounded">
          <input type="number" class="col-md-2 rounded">
          <label class="col-md-2">WhatsApp</label>
          <input type="button" value="966" class="col-md-1 rounded">
          <input type="number" class="col-md-2 rounded">
        </div>
        <div class="row">
          <label class="col-md-3">Address</label>
          <input type="number" class="col-md-5 rounded">
        </div>
      </form>
    </div>
    <div class="col-md-4 bg-warning rounded">
      <form>
        <div class="row">
          <label class="col-md-3">ID Type </label>
          <input type="number" class="col-md-2 rounded">
          <input type="number" class="col offset-md-1 rounded">
        </div>
        <div class="row">
          <label class="col-md-4">Receiver Name</label>
          <input type="number" class="col-md-6 rounded">
        </div>
        <div class="row">
          <label class="col-md-3">Address</label>
          <textarea class="col-md-5 rounded"></textarea>
        </div>
        <div class="row">
          <label class="col-md-3">Mobile1</label>
          <input type="button" value="+91" class="col-md-1 rounded">
          <input type="number" class="col-md-2 rounded">
          <label class="col-md-3">Mobile2</label>
          <input type="button" value="+91" class="col-md-1 rounded">
          <input type="number" class="col-md-2 rounded">
        </div>
        <div class="row">
          <label class="col-md-3">Pincode</label>
          <input type="number" class="col-md-3 rounded">
          <label class="col-md-3">State</label>
          <input type="number" class="col-md-3 rounded">
        </div>
        <div class="row">
          <label class="col-md-3">District</label>
          <input type="number" class="col-md-3 rounded">
          <label class="col-md-3">Taluk</label>

          <input type="number" class="col-md-3 rounded">
        </div>
        <div class="row">
          <label class="col-md-3">P.Office</label>
          <input type="number" class="col-md-3 rounded">
          <label class="col-md-3">E-mail</label>
          <input type="number" class="col-md-3 rounded">
        </div>
      </form>
    </div>

    <div class="col-md-3 bg-info p-3 rounded">
      <h6 class="col-md-6 bg-danger rounded text-center text-white">Shipment Details</h6>
      <form>
        <div class="row mt-1">
          <label class="col-md-4">Bill No</label>
          <input type="number" class="col-md-6 rounded">
        </div>
        <div class="row mt-1">
          <label class="col-md-4">Agent</label>
          <input type="number" class="col-md-6 rounded">
        </div>
        <div class="row mt-1">
          <label class="col-md-4">Ref No</label>
          <input type="number" class="col-md-6 rounded">
        </div>
        <div class="row mt-1">
          <label class="col-md-4">Rate</label>
          <input type="number" class="col-md-6 rounded text-center" value="0.00">
        </div>
        <div class="row mt-1">
          <label class="col-md-4">Payment</label>
          <input type="number" class="col-md-6 rounded text-center" value="CASH">
        </div>
        <div class="mt-2 offset-md-1">
          <button class="btn btn-success">Save & Print</button>
        </div>
      </form>
    </div>

    <div class="col-md-4 bg-info rounded p-3">
      <div class="table-responsive col-md-12">
        <table class="table-bordered text-center text-white">
          <thead>
            <tr>
              <th class="col-md-1 bg-secondary text-white">S.n</th>
              <th class="col-md-1 bg-secondary text-white">Ctn.no</th>
              <th class="col-md-1 bg-secondary text-white">Item Name</th>
              <th class="col-md-1 bg-secondary text-white">Qty</th>
              <th class="col-md-1 bg-secondary text-white">Unit Price</th>
              <th class="col-md-1 bg-secondary text-white">Val Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>1</td>
              <td><input type="number" value=""></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 bg-warning rounded p-3">
      <form>
        <div class="row">
          <div class="col-md-6 p-2">
            <div class="row mt-2 p-1">
              <label class="col-md-7">Carton No</label>
              <input type="number" class="col-md-5 rounded">
            </div>
            <div class="row p-1">
              <label class="col-md-7">Carton Weight</label>
              <input type="number" class="col-md-5 rounded">
            </div>
            <div class="row p-1">
              <label class="col-md-7">Remarks</label>
              <input type="number" class="col-md-5 rounded">
            </div>
            <div class="mt-2 p-1">
              <button class="btn btn-success col-md-5">Update</button>
              <button class="btn btn-primary offset-md-1">Cancel</button>
            </div>
            <div class="row p-1">
              <label class="col-md-7">Packed By</label>
              <input type="number" class="col-md-5  mt-2 rounded">
            </div>
            <div class="row p-1">
              <label class="col-md-7">Zone</label>
              <input type="number" class="col-md-5 rounded">
            </div>
            <div class="row p-1">
              <label class="col-md-7">Remarks</label>
              <input type="number" class="col-md-5 rounded">
            </div>
          </div>
        <div class="col-md-6">
          <div class="table-responsive">
            <table class="table-bordered text-center text-white">
              <thead>
                <tr>
                  <th class="col-md-1 bg-secondary text-white">Carton No</th>
                  <th class="col-md-1 bg-secondary text-white">C.Weight</th>
                  <th class="col-md-1 bg-secondary text-white">Action</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      </form>
    </div>

    <div class="col-md-3 bg-info p-3 rounded">
      <h6 class="col-md-6 bg-danger rounded text-center text-white">Amount Details</h6>
      <form>
        <div class="row mt-1">
          <label class="col-md-5">Freight Charge</label>
          <input type="number" value="0.00" class="col-md-6 rounded text-center text-success">
        </div>
        <div class="row mt-1">
          <label class="col-md-5">Packing</label>
          <input type="number" value="0.00" class="col-md-6 rounded text-center text-success">
        </div>
        <div class="row mt-1">
          <label class="col-md-5">Bill Charge</label>
          <input type="number" value="0.00" class="col-md-6 rounded text-center text-success">
        </div>
        <div class="row mt-1">
          <label class="col-md-5">Extra</label>
          <input type="number" value="0.00" class="col-md-6 rounded text-center text-success">
        </div>
        <div class="row mt-1">
          <label class="col-md-5">Bill Amt</label>
          <input type="number" value="0.00" class="col-md-6 rounded text-center text-success">
        </div>
        <div class="row mt-1">
          <label class="col-md-5">Discount</label>
          <input type="number" value="0.00" class="col-md-6 rounded text-center text-success">
        </div>
        <div class="row mt-1">
          <label class="col-md-5">VAT</label>
          <input type="number" class="col-md-6 rounded">
        </div>
        <div class="row mt-1">
          <label class="col-md-5">Total Amt</label>
          <input type="number" value="0.00" class="col-md-6 rounded text-center bg-danger">
        </div>
        <div class="row mt-1">
          <label class="col-md-5">Received</label>
          <input type="number" value="0.00" class="col-md-6 rounded text-center text-success">
        </div>
        <div class="row mt-1">
          <label class="col-md-5">Balance</label>
          <input type="number" value="0.00" class="col-md-6 rounded text-center text-danger">
        </div>
      </form>
    </div>

  </div>
</div>